<div class="row">
  <div class="col-md-12">
    <h2>Sightings</h2>

    <div style="width: 80%; height: 300px; border: 1px solid #000;">
      Map
    </div>
  </div>
</div>

<div class="row m-t-md">
  <div class="col-md-12">
    <p>
      <ul class="list-inline">
        <li><button class="btn btn-default">Show All</button></li>
        <li><button class="btn btn-default">Show Last 4 Weeks</button></li>
        <li><button class="btn btn-default">Show Last 7 Days</button></li>
        <li><button class="btn btn-default">Show Last 24 Hours</button></li>
      </ul>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Table</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Details</th>
          <th>Observations</th>
          <th>Signs</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each item in content}}
        <tr>
          <td>{{item.created_at}}
          </td>
          <td>
            <dl>
              <dt>Adults</dt>
              <dd>{{item.no_of_adults}}</dd>

              <dt>Calves</dt>
              <dd>{{item.no_of_calves}}</dd>
            </dl>
          </td>
          <td>
            {{item.unusual_observations}}
          </td>
          <td>
            {{item.vsigns}}
          </td>
          <td>
            <select class="form-control" disabled>
              <option>Unreviewed</option>
              <option>Needs Follow-Up</option>
              <option>Important</option>
              <option>Needs Discussion</option>
              <option>Resolved</option>
            </select>
          </td>
          <td>
            <button class="btn btn-default">Map Highlight</button>
            <button class="btn btn-default">View Comments</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
