<div class="row">
  <div class="col-md-12">
    <h2>Sightings</h2>

    {{leaflet-map
      content=activeContent
      selection=selected
    }}
  </div>
</div>

<div class="row m-t-md">
  <div class="col-md-12">
    <p>
      <ul class="list-inline">
        <li><button class="btn btn-default" {{action 'filter' 0}}>Show All</button></li>
        <li><button class="btn btn-default" {{action 'filter' 2419200}}>Show Last 4 Weeks</button></li>
        <li><button class="btn btn-default" {{action 'filter' 604800}}>Show Last 7 Days</button></li>
        <li><button class="btn btn-default" {{action 'filter' 86400}}>Show Last 24 Hours</button></li>
      </ul>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Table</h2>

    {{sighting-table
      content=activeContent
      events=mapper
    }}

  </div>
</div>
