<div class="row">
  <div class="col-md-8">
    <h2>Sighting Information</h2>
  </div>
  <div class="col-md-4">
    <h4>
      {{link-to "Sightings List" 'sightings.index' class="btn btn-default pull-right"}}
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Details</h3>

    <dl>
      <dt>ID</dt>
      <dd>{{link-to content.id 'sightings.show'}}</dd>

      <dt>Observer</dt>
      <dd>{{content.creator.name}}</dd>

      <dt>Observer Email</dt>
      <dd>
        {{#if content.creator.email}}
        <a href="mailto:{{content.creator.email}}">{{content.creator.email}}</a>
        {{else}}
        No Email Available
        {{/if}}
      </dd>

      <dt>Observer Address</dt>
      <dd>{{content.creator.address}}</dd>

      <dt>Created At</dt>
      <dd>{{content.created_at}}</dd>

      <dt>Updated At</dt>
      <dd>{{content.updated_at}}</dd>

      <dt>Number of Adults</dt>
      <dd>{{content.no_of_adults}}</dd>

      <dt>Number of Calves</dt>
      <dd>{{content.no_of_calves}}</dd>

      <dt>Unusual Observations</dt>
      <dd>{{content.unusual_observations}}</dd>

      <dt>Visual Signs</dt>
      <dd>{{content.vsigns}}</dd>

      <dt>Status</dt>
      <dd>
        {{type-ahead
          value=content.status.state
          source=content.status.default_values
        }}
      </dd>
    </dl>

    {{#if canSaveStatus}}
    <button class="btn btn-primary" {{action 'saveStatus'}}>Save Status</button>
    {{else}}
    <button class="btn btn-default" disabled>Save Status</button>
    {{/if}}
  </div>

  <div class="col-md-8">
    {{polar-map
      content=contentAsList
      selection=selected
    }}

    <p class="text-center">
      <strong>Latitude</strong>: {{content.lat}}&deg; N&nbsp;
      <strong>Longitude</strong>: {{content.lon}}&deg; E
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Comments</h2>

    <ul class="list-unstyled comments">
      {{#each content.comments as |comment|}}
      <li>
        <div class="comment-item">
          {{comment.content}}
        </div>
        <div class="comment-foot">
          {{date-ago content=comment.created_at}} - {{comment.created_at}}
        </div>
      </li>
      {{/each}}
    </ul>

    <h4>Post Comment</h4>

    {{#if commentNotices}}
    <div class="alert alert-info">
      {{commentNotices}}
    </div>
    {{/if}}

    <p>
      <textarea class="form-control" id="content" {{action 'commentChanged' on='keyUp'}}></textarea>
    </p>

    <p>
      {{#if canSaveComment}}
      <button class="btn btn-primary" {{action 'saveComment'}}>Save Comment</button>
      {{else}}
      <button class="btn btn-default" disabled>Save Comment</button>
      {{/if}}
    </p>
  </div>
</div>
