<table class="table">
  <thead>
    <tr>
      <th><input type="text" name="id-filter" size="5"></th>
      <th colspan="6"></th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Details</th>
      <th>Observations</th>
      <th>Signs</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each content as |item|}}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.created_at}}</td>
      <td>
        <dl>
          <dt>Adults</dt>
          <dd>{{item.no_of_adults}}</dd>

          <dt>Calves</dt>
          <dd>{{item.no_of_calves}}</dd>
        </dl>
      </td>
      <td>
        {{item.unusual_observations}}
      </td>
      <td>
        {{item.vsigns}}
      </td>
      <td>
        {{item.status.state}}
      </td>
      <td>
        <button class="btn btn-default" {{action 'highlight' item}}>Map Highlight</button>
        {{link-to "View Comments" 'sightings.show' item class="btn btn-default"}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
